@import 'tailwindcss';
/* @import '@fontsource/damion/400.css'; */
/* @import '@fontsource/rubik-dirt/400.css'; */
@import '@fontsource/shrikhand/400.css';

@plugin "daisyui" {
  themes: nord --default;
  /* To supress a build-time warning: */
  exclude: properties;
}

@theme {
  /* --font-logo: 'Damion', sans-serif; */
  /* --font-logo: 'Rubik Dirt', sans-serif; */
  --font-logo: 'Shrikhand', sans-serif;
}

:root {
  --chicago-blue: oklch(0.7312 0.1233 229.5);
  --chicago-red: oklch(0.5794 0.2343 23.93);
  --chicago-blue-lighter: oklch(from var(--chicago-blue) calc(l + 0.05) c h);
  --chicago-blue-darker: oklch(from var(--chicago-blue) calc(l - 0.25) c h);
  --chicago-red-lighter: oklch(from var(--chicago-red) calc(l + 0.05) c h);
}
