# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# generated
/netlify/database/migrations/
/data/chicago-library-map-data.json

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html
