.cell-map {
  .voronoi-cell {
    stroke: var(--color-base-100);
    fill: var(--color-base-300);
  }

  .item-marker {
    fill: currentColor;
  }

  .city-outline {
    fill: none;
    stroke: currentColor;
  }

  .voronoi-cell:hover {
    fill: var(--color-secondary);
  }

  .voronoi-cell.visited {
    fill: var(--color-primary);
  }

  .voronoi-cell.visited:hover {
    fill: var(--color-secondary);
  }
}
