/* eslint css/no-invalid-properties: ["error", { allowUnknownVariables: true }] */
/* The daisy color variables are not known here, so turning off that rule */
.cell-map {
  .voronoi-cell {
    stroke: var(--chicago-blue-lighter);
    fill: #ffffff;

    &.visited {
      stroke: var(--chicago-blue);
      fill: var(--chicago-blue);
    }

    &.visited.highlighted {
      stroke: var(--chicago-blue);
      fill: var(--chicago-blue-lighter);
    }

    &.selected {
      fill: var(--chicago-blue);
    }

    &.highlighted {
      fill: var(--chicago-blue-lighter);
    }
  }

  .item-marker {
    fill: var(--chicago-red);
    stroke: var(--chicago-red);

    &.visited {
      fill: #ffffff;
      stroke: #ffffff;
    }

    &.selected {
      fill: #ffffff;
      stroke: #ffffff;
    }
  }

  .city-outline {
    fill: none;
    stroke: var(--chicago-blue);
  }
}
